* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(1vw + 6px);
}

body {
  font-family: sans-serif;
  background: #260F26;
}

.page {
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto;
  box-shadow: 0 0 1rem #00000080;
  background: #361F36;
}

.article {
  padding: 5%;
}

.article__title {
  margin-bottom: 1em;
  color: #ffffff;
  opacity: 0.8;  
}

.article__paragraph {
  margin-bottom: 0.6em;
  line-height: 1.5;
  color: #ffffff;
  opacity: .6;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto;
  box-shadow: 0 0 1rem #00000080;
  background: #361F36;
}

.menu__item {
  position: relative;
  flex-grow: 1;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  opacity: .6;
  border-bottom-width: .2rem;
  border-bottom-style: solid;
  border-bottom-color: transparent; 
}

.menu__item:hover {
  opacity: 1;
  border-bottom-color: #bfbf40;
}

.menu__item-active,
.menu__item-active:hover {
  opacity: 1;
  border-bottom-color: #40bf40;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 14px;
  }
}
